Source: salt-formula-rabbitmq
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-rabbitmq
Vcs-Git: https://github.com/tcpcloud/salt-formula-rabbitmq.git

Package: salt-formula-rabbitmq
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: RabbitMQ Salt formula
 Install and configure RabbitMQ server and client.
